$primary-bg-color: #FFFFFF
$secondary-bg-color: rgb(247, 249, 249)

$primary-font-color: #000000
$secondary-font-color: #FFFFFF
$tertiary-font-color: rgb(29, 155, 240)
$quaternary-font-color: rgb(83, 100, 113)
$quinary-font-color: red

$primary-btn-color: rgb(29, 155, 240)
$secondary-btn-color: #FFFFFF
$tertiary-btn-color: #000000
$quaternary-btn-color: red

$font-size-pp: 0.7rem
$font-size-smaller: 0.9rem
$font-size-small: 1rem
$font-size-normal: 1.2rem
$font-size-medium: 1.4rem
$font-size-large: 2rem
$font-size-xl: 3rem
$font-size-xxl: 4rem


$white: rgb(255,255,255)
$almost-white: rgb(247, 249, 249)
$black: rgb(0,0,0)
$opaque-black: rgba(0,0,0,0.85)
$gray: rgb(83, 100, 113)
$blue: rgb(29, 155, 240)
$dark-blue: rgb(26,140,216)
$green: rgb(0,186,124)
$pink: rgb(249,24,128)
$red: rgb(255,0,0)



