.Tweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.Tweet-retweet-or-maybe-you-like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Tweet .Tweet-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.Tweet .Tweet-wrapper-user-icon {
  border-radius: 50%;
}
.Tweet .Tweet-wrapper-user-icon:hover {
  filter: brightness(95%);
}
.Tweet .Tweet-wrapper .Tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.Tweet .Tweet-wrapper .Tweet-container-first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Tweet .Tweet-wrapper .Tweet-container-first-section-infos .Tweet-nickname:hover {
  text-decoration: underline;
}
.Tweet .Tweet-wrapper .Tweet-container-first-section-infos .Tweet-username {
  color: rgb(83, 100, 113);
  margin-right: 0.5rem;
}
.Tweet .Tweet-wrapper .Tweet-container-first-section-infos .Tweet-dot {
  color: rgb(83, 100, 113);
  width: 0.2rem;
  heigth: 0.2rem;
}
.Tweet .Tweet-wrapper .Tweet-container-first-section-infos .Tweet-date {
  color: rgb(83, 100, 113);
  margin-left: 0.5rem;
}
.Tweet .Tweet-wrapper .Tweet-container-first-section-infos .Tweet-date:hover {
  text-decoration: underline;
}
.Tweet .Tweet-wrapper .Tweet-container-first-section-more {
  color: rgb(83, 100, 113);
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.Tweet .Tweet-wrapper .Tweet-container-first-section-more:hover {
  color: rgb(29, 155, 240);
}
.Tweet .Tweet-wrapper .Tweet-container .Tweet-text {
  word-wrap: normal;
  margin-bottom: 0.5rem;
}
.Tweet .Tweet-wrapper .Tweet-container .Tweet-media {
  max-width: 500px;
  max-height: 640px;
  border-radius: 1rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}
.Tweet .Tweet-wrapper .Tweet-container-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}
.Tweet .Tweet-wrapper .Tweet-container-toolbar div:last-child {
  margin-right: 3rem;
}
.Tweet .Tweet-wrapper .Tweet-container-toolbar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Tweet .Tweet-wrapper .Tweet-container-toolbar-item-icon {
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.Tweet .Tweet-wrapper .Tweet-container-toolbar-item-comments {
  font-size: 0.9rem;
}
.Tweet .Tweet-wrapper .Tweet-container-toolbar-item-comments:hover {
  color: rgb(29, 155, 240);
}
.Tweet .Tweet-wrapper .Tweet-container-toolbar-item-retweets {
  font-size: 0.9rem;
}
.Tweet .Tweet-wrapper .Tweet-container-toolbar-item-retweets:hover {
  color: rgb(0, 186, 124);
}
.Tweet .Tweet-wrapper .Tweet-container-toolbar-item-likes {
  font-size: 0.9rem;
}
.Tweet .Tweet-wrapper .Tweet-container-toolbar-item-likes:hover {
  color: rgb(249, 24, 128);
}/*# sourceMappingURL=styles.css.map */